doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title=page_title
        link(rel='shortcut icon', type='image/x-icon', href='public/favicon.png')
        link(rel='stylesheet', href='shared-library/bootstrap-4-grid/css/grid.min.css')
    body
        #website-app
        script(src='website-app/js/website-bundle.js', charset='utf-8')

